@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap");
/* line 10, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
body {
  font-family: 'Ubuntu', sans-serif; }

/* line 14, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.wrapper {
  display: grid;
  background: #143345; }
  /* line 18, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .wrapper.wrapper_inner {
    min-height: 100vh;
    background: none; }
    /* line 22, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .wrapper.wrapper_inner .content {
      justify-self: end;
      padding-right: 50px;
      display: grid; }
      /* line 27, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .wrapper.wrapper_inner .content:before {
        content: '';
        position: absolute;
        width: 600px;
        height: 100%;
        right: 0;
        top: 0;
        background: #143345 url("../images/dots.png") no-repeat;
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%); }
      /* line 38, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .wrapper.wrapper_inner .content .main_content {
        z-index: 10;
        display: grid;
        margin-top: 50px; }
        /* line 43, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
        .wrapper.wrapper_inner .content .main_content .title {
          width: 500px;
          justify-self: end; }
          /* line 47, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .title h1 {
            font-weight: bold; }
        /* line 52, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
        .wrapper.wrapper_inner .content .main_content .panel {
          padding: 60px;
          min-width: 600px; }
          /* line 56, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel .panel_title {
            display: flex;
            justify-content: center;
            align-content: center; }
          /* line 62, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel h2 {
            text-transform: none;
            font-size: 20px;
            line-height: 1.3em;
            border: none;
            display: grid;
            align-items: center; }
            /* line 70, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
            .wrapper.wrapper_inner .content .main_content .panel h2 img {
              margin-right: 10px;
              display: inline-block;
              grid-row: 1/2; }
            /* line 78, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
            .wrapper.wrapper_inner .content .main_content .panel h2 span {
              display: inline-block;
              grid-row: 1/2; }
          /* line 85, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel h3 {
            color: #0799D5;
            font-size: 22px;
            margin-bottom: 20px; }
          /* line 91, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel p {
            color: #0799D5;
            font-size: 16px; }
          /* line 96, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel .link {
            text-transform: none;
            margin-top: 50px; }
          /* line 103, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel form .form-control {
            border: none;
            border-bottom: 2px solid #0799D5;
            border-radius: 0 !important; }
            /* line 108, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
            .wrapper.wrapper_inner .content .main_content .panel form .form-control:focus {
              box-shadow: none; }
          /* line 113, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel form label {
            text-align: left;
            display: block;
            color: #0799D5;
            margin-bottom: 7px;
            padding-top: 7px; }
          /* line 121, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel form select.form-control {
            border: none;
            color: #0799D5; }
          /* line 126, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel form button, .wrapper.wrapper_inner .content .main_content .panel form .link {
            text-transform: none;
            margin-top: 50px; }
            /* line 130, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
            .wrapper.wrapper_inner .content .main_content .panel form button i, .wrapper.wrapper_inner .content .main_content .panel form .link i {
              margin-left: 20px; }
          /* line 136, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
          .wrapper.wrapper_inner .content .main_content .panel form .link.inactive {
            background: #AAAAAA;
            border-color: #AAAAAA; }
            /* line 140, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
            .wrapper.wrapper_inner .content .main_content .panel form .link.inactive:hover {
              color: #fff; }
      /* line 149, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .wrapper.wrapper_inner .content footer {
        width: 500px;
        justify-self: end; }
  /* line 156, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .wrapper .section_img {
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
    height: 100vh;
    grid-column: 1/2;
    grid-row: 1/2; }

/* line 165, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.steps {
  width: 500px;
  justify-self: end;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  align-content: center;
  margin-bottom: 40px; }
  /* line 174, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .steps .step {
    text-align: center;
    color: #fff; }
    /* line 178, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .steps .step.current {
      color: #F2E74B; }
      /* line 179, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .steps .step.current span {
        background: #F2E74B; }
    /* line 185, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .steps .step.done {
      color: #0799D5; }
      /* line 186, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .steps .step.done span {
        position: relative;
        background: #0799D5;
        color: #fff; }
        /* line 191, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
        .steps .step.done span:after {
          content: '';
          position: absolute;
          width: 90%;
          height: 90%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100%;
          border: 1px solid #fff; }
    /* line 206, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .steps .step span {
      width: 50px;
      height: 50px;
      margin: auto;
      margin-bottom: 10px;
      display: block;
      border-radius: 100%;
      padding: 10px;
      text-align: center;
      background: #fff;
      color: #143345;
      font-size: 18px;
      font-weight: bold;
      line-height: 30px; }
  /* line 223, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .steps .line {
    position: relative;
    top: 24px;
    display: block;
    width: 100%;
    border-top: 2px solid #fff; }
    /* line 230, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .steps .line.current {
      border-color: #F2E74B; }
    /* line 234, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .steps .line.done {
      border-color: #0799D5; }

/* line 240, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
a, button {
  transition: all 0.2s ease-in-out; }
  /* line 243, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  a:focus, button:focus {
    outline: 0;
    box-shadow: none !important; }

/* line 249, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.logo {
  position: absolute;
  top: -10px;
  left: 50px;
  z-index: 10; }
  /* line 255, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .logo img {
    width: 250px; }

/* line 260, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.link {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #0799D5;
  background: #0799D5;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  /* line 270, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .link:hover {
    background: none;
    color: #0799D5;
    text-decoration: none; }
  /* line 276, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .link.secondary {
    background: #AAAAAA;
    border-color: #AAAAAA; }
    /* line 280, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .link.secondary:hover {
      background: #0799D5;
      color: #fff;
      border-color: #0799D5; }

/* line 288, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.content {
  position: relative;
  display: grid;
  background: url("../images/dots.png") no-repeat;
  background-position: center center;
  align-content: center;
  text-align: center;
  grid-column: 2/3; }

/* line 298, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
h1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px; }
  /* line 303, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  h1 strong {
    color: #F2E74B;
    display: block; }

/* line 309, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.panel {
  background: #fff;
  border-radius: 8px;
  padding: 20px 40px;
  margin: auto; }
  /* line 315, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .panel h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #0799D5;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #0799D5; }
  /* line 325, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .panel .g-recaptcha {
    display: inline-block; }
  /* line 329, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .panel .link {
    width: 80%;
    text-transform: uppercase; }

/* line 335, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
footer {
  text-align: center;
  z-index: 10;
  margin-bottom: 40px;
  margin-top: 40px; }
  /* line 342, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  footer ul {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    border-top: 1px solid #fff; }
    /* line 348, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    footer ul li {
      margin: 0 30px; }
      /* line 351, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      footer ul li a {
        color: #fff; }
        /* line 354, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
        footer ul li a:hover {
          color: #fff; }
      /* line 359, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      footer ul li .link {
        background: none;
        border-color: #F2E74B;
        color: #F2E74B; }
        /* line 364, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
        footer ul li .link:hover {
          color: #143345;
          background: #F2E74B; }

/* line 373, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.error {
  opacity: 0;
  margin-top: -30px;
  color: red;
  margin-bottom: 20px;
  transition: all 0.2s ease; }
  /* line 380, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .error.show {
    opacity: 1;
    margin-top: 0; }

/* line 392, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.terms .content {
  grid-column: 1/2; }

/* line 396, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.terms .section_img {
  background: url("../images/ingreso_img.jpg") center right;
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
  grid-column: 2/3; }

/* line 402, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.terms .panel {
  width: 100%;
  max-width: 500px; }
  /* line 407, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .terms .panel form .form-check {
    text-align: left; }
    /* line 410, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .terms .panel form .form-check label, .terms .panel form .form-check a {
      color: #143345; }
    /* line 414, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .terms .panel form .form-check a {
      text-decoration: underline; }
      /* line 417, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .terms .panel form .form-check a:hover {
        text-decoration: none; }

/* line 430, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.paso_1.wrapper_inner {
  background: url("../images/paso-1.jpg") center right; }
  /* line 433, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .paso_1.wrapper_inner .panel {
    max-width: 400px; }

/* line 441, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.paso_1.paso_1_documento {
  background-size: cover; }
  /* line 443, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .paso_1.paso_1_documento .panel {
    max-width: none;
    width: 1000px; }
    /* line 447, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .paso_1.paso_1_documento .panel span.id_number {
      color: #0799D5;
      margin-bottom: 20px;
      display: block; }
    /* line 453, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .paso_1.paso_1_documento .panel object {
      height: 500px;
      margin-bottom: 20px;
      margin-top: 10px; }
    /* line 459, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .paso_1.paso_1_documento .panel .links {
      margin-top: 40px; }
      /* line 461, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
      .paso_1.paso_1_documento .panel .links .link {
        display: inline;
        width: auto;
        margin: 0 10px;
        padding: 10px 60px; }

/* line 474, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
.paso_2.wrapper_inner {
  background: url("../images/paso-2.jpg") center right; }
  /* line 477, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
  .paso_2.wrapper_inner .panel {
    width: 650px; }
    /* line 481, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .paso_2.wrapper_inner .panel form .links {
      display: flex;
      justify-content: flex-end; }
    /* line 485, /Applications/MAMP/htdocs/segurosmundial/css/style.scss */
    .paso_2.wrapper_inner .panel form .link {
      width: auto;
      display: inline; }

/*# sourceMappingURL=style.css.map */