@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

$blue: #143345;
$blue_light: #0799D5;
$yellow: #F2E74B;


//General

body {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    display: grid;
    background: $blue;
    
    &.wrapper_inner {
        min-height: 100vh;
        background: none;
        
        .content {
            justify-self: end;
            padding-right: 50px;
            display: grid;
            
            &:before {
                content: '';
                position: absolute;
                width: 600px;
                height: 100%;
                right: 0;
                top: 0;
                background: $blue url('../images/dots.png') no-repeat;
                clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
            }
            
            .main_content {
                z-index: 10;
                display: grid;
                margin-top: 50px;
                
                .title {
                    width: 500px;
                    justify-self: end;
                    
                    h1 {
                        font-weight: bold;
                    }
                }
                
                .panel {
                    padding: 60px;
                    min-width: 600px;
                    
                    .panel_title {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }
                    
                    h2 {
                        text-transform: none;
                        font-size: 20px;
                        line-height: 1.3em;
                        border: none;
                        display: grid;
                        align-items: center;
                        
                        img {
                            
                            margin-right: 10px;
                            display: inline-block;
                            grid-row: 1/2;
                            
                        }
                        
                        span {
                            display: inline-block;
                            grid-row: 1/2;
                            
                        }
                    }
                    
                    h3 {
                        color: $blue_light;
                        font-size: 22px;
                        margin-bottom: 20px;
                    }
                    
                    p {
                        color: $blue_light;
                        font-size: 16px;
                    }
                    
                    .link {
                        text-transform: none;
                        margin-top: 50px;
                    }
                    
                    form {
                        
                        .form-control {
                            border: none;
                            border-bottom: 2px solid $blue_light;
                            border-radius: 0 !important;
                            
                            &:focus {
                                box-shadow: none;
                            }
                        }
                        
                        label {
                            text-align: left;
                            display: block;
                            color: $blue_light;
                            margin-bottom: 7px;
                            padding-top: 7px;
                        }
                        
                        select.form-control {
                            border: none;
                            color: $blue_light;
                        }
                        
                        button, .link {
                            text-transform: none;
                            margin-top: 50px;
                            
                            i {
                                margin-left: 20px;
                            }
                        }
                        
                        .link {
                            &.inactive {
                                background: #AAAAAA;
                                border-color: #AAAAAA;
                                
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            
            footer {
                width: 500px;
                justify-self: end;
            }
        }
    }
    
    .section_img {
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
        height: 100vh;
        grid-column: 1/2;
        grid-row: 1/2;
    } 
}

.steps {
    width: 500px;
    justify-self: end;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    align-content: center;
    margin-bottom: 40px;
    
    
    .step {
        text-align: center;
        color: #fff;
        
        &.current {
            span {
                background: $yellow;
            }
            color: $yellow;
        }
        
        &.done {
            span {
                position: relative;
                background: $blue_light;
                color: #fff;
                
                &:after {
                    content: '';
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 100%;
                    border: 1px solid #fff;
                }
            }
            color: $blue_light;
        }
        
        span {
            width: 50px;
            height: 50px;
            margin: auto;
            margin-bottom: 10px;
            display: block;
            border-radius: 100%;
            padding: 10px;
            text-align: center;
            background: #fff;
            color: $blue;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
        }
    }
    
    .line {
        position: relative;
        top: 24px;
        display: block;
        width: 100%;
        border-top: 2px solid #fff;
        
        &.current {
            border-color: $yellow;
        }
        
        &.done {
            border-color: $blue_light;
        }
    }
}

a, button {
    transition: all 0.2s ease-in-out;
    
    &:focus {
        outline: 0;
        box-shadow: none !important;
    }
}

.logo {
    position: absolute;
    top: -10px;
    left: 50px;
    z-index: 10;
    
    img {
        width: 250px;
    }
}

.link {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid $blue_light;
    background: $blue_light;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
    &:hover {
        background: none;
        color: $blue_light;
        text-decoration: none;
    }
    
    &.secondary {
        background: #AAAAAA;
        border-color: #AAAAAA;
        
        &:hover {
            background: $blue_light;
            color: #fff;
            border-color: $blue_light;;
        }
    }
}

.content {
    position: relative;
    display: grid;
    background: url('../images/dots.png') no-repeat;
    background-position: center center;
    align-content: center;
    text-align: center;
    grid-column: 2/3;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
    
    strong {
        color: $yellow;
        display: block;
    }
}

.panel {
    background: #fff;
    border-radius: 8px;
    padding: 20px 40px;
    margin: auto;
    
    h2 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
        color: $blue_light;
        padding-bottom: 10px;
        margin-bottom: 30px;
        border-bottom: 2px solid $blue_light;
    }
    
    .g-recaptcha {
        display: inline-block;
    }
    
    .link {
        width: 80%;
        text-transform: uppercase;
    }
}

footer {
    text-align: center;
    z-index: 10;
    margin-bottom: 40px;
    margin-top: 40px;
    
    
    ul {
        width: 100%;
        margin: auto;
        padding-top: 20px;
        border-top: 1px solid #fff;
        
        li {
            margin: 0 30px;
            
            a {
                color: #fff;
                
                &:hover {
                    color: #fff;
                }
            }
            
            .link {
                background: none;
                border-color: $yellow;
                color: $yellow;
                
                &:hover {
                    color: $blue;
                    background: $yellow;
                }
            }
        }
    }
}

.error {
    opacity: 0;
    margin-top: -30px;
    color: red;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    
    &.show {
       opacity: 1;
        margin-top: 0;
    }
}



// 0. Ingresa

.terms {
    
    .content {
        grid-column: 1/2;
    }
    
    .section_img {
        background: url('../images/ingreso_img.jpg') center right;
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
        grid-column: 2/3;
    }
    
    .panel {
        width: 100%;
        max-width: 500px;
        
        form {
            .form-check {
                text-align: left;
                
                label, a {
                    color: $blue;
                }
                
                a {
                    text-decoration: underline;
                    
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


//1. Paso 1

.paso_1 {
    &.wrapper_inner {
        background: url('../images/paso-1.jpg') center right;
        
        .panel {
            max-width: 400px;
        }
    }
}

// 1. Paso 1 - Revisar documento

.paso_1.paso_1_documento {
    background-size: cover;
    .panel {
        max-width: none;
        width: 1000px;
        
        span.id_number {
            color: $blue_light;
            margin-bottom: 20px;
            display: block;
        }
        
        object {
            height: 500px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        
        .links {
            margin-top: 40px;
            .link {
                display: inline;
                width: auto;
                margin: 0 10px;
                padding: 10px 60px;
            }
        }
    }
}

// 2. Paso 2

.paso_2 {
    &.wrapper_inner {
        background: url('../images/paso-2.jpg') center right;
        
        .panel {
            width: 650px;
            
            form {
                .links {
                    display: flex;
                    justify-content: flex-end;
                }
                .link {
                    width: auto;
                    display: inline;
                }
            }
        }
    }
}